{% extends "menu.html" %}
{% block content %}
<!-- This is the input frontend where users can input information about recipes -->
	<h3>Add Students</h3>
	<div class="add-container">
	<div class="input-card">
		<form action="{{ url_for('addStudent') }}" method=POST>
			<p class="heading">Student Name: <input type=text name=studentName></p>
			<p class="heading">Student ID: <input type=text name=studentID></p>
			<p class="heading">Session ID: <input type=text name=sessionID></p>
			<p class="heading">Team ID: <input type=text name=teamID></p>
			<p><input class="my-btn" type=submit value='Add Student' style="
					background-color: #b7c229;
 				   	color: white;
    				border: none;
    				border-radius:5px;
					padding: 10px 20px;
					cursor: pointer;"></p>
		</form>
	</div>
	</div>

{% endblock %}